@import "tailwindcss";

@utility base{
  @apply mx-10 
}
@font-face {
  font-family: 'PermanentMarker';
  src: url('/src/assets/Font/Dancing_Script/static/DancingScript-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
  @font-face {
    src: url('/src/assets/Font/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
    font-family: 'Arbic';
    font-weight: 400;
    font-style: normal;
  }
   @theme {
    --font-PermanentMarker: "PermanentMarker";
     --font-Arbic: "Arbic";
     --color-green-600: #22c55e;
     --color-gray-800: #1f2937;
      --color-primary: #dadada;     /* Indigo */
  --color-secondary: #F59E0B;   /* Amber */
  --color-accent: #10B991;      /* Emerald */
  }




