@import "tailwindcss";

@utility base{
  @apply mx-10 
}
@font-face {
  font-family: 'PermanentMarker';
  src: url('/src/assets/Font/Dancing_Script/static/DancingScript-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
   @theme {
    --font-PermanentMarker: "PermanentMarker";
  }

  /* @font-face {
    font-family: 'Arbic';
    src: url('/src/assets/Font/Merienda/static/Merienda-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @theme{
    --font-PermanentMarker: "Arbic";
  } */



